{% extends "full_layout.html" %} {% block title %}Login{% endblock %} {% block
content %}

<section
  class="bg-cover bg-center h-full"
  style="background-image: url('{{ url_for('static', filename='images/bg.jpg') }}')"
>
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-900 dark:border-gray-900"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <div class="text-center">
          <a
            href="{{ url_for('main.index') }}"
            class="flex mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
          >
            <ion-icon
              class="text-3xl text-teal-700 pr-2"
              name="planet-outline"
            ></ion-icon>
            NEG'CO
          </a>
        </div>
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Sign in to your account
        </h1>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <p class="text-red-500">{{ message }}</p>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <form id="login-form" class="space-y-4 md:space-y-6" method="POST">
          {{ form.csrf_token }}

          <div>
            {{ form.username.label(class_="block mb-2 text-sm font-medium
            text-gray-900 dark:text-white") }} {{
            form.username(class_="bg-gray-50 border border-gray-300
            text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600
            focus:border-teal-600 block w-full p-2.5 dark:bg-gray-700
            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
            dark:focus:ring-blue-500 dark:focus:border-blue-500",
            placeholder="Username", required=true) }}
          </div>
          <div>
            {{ form.password.label(class_="block mb-2 text-sm font-medium
            text-gray-900 dark:text-white") }}
            <div class="relative">
              {{ form.password(class_="js-password bg-gray-50 border
              border-gray-300 text-gray-900 sm:text-sm rounded-lg
              focus:ring-teal-600 focus:border-teal-600 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500", placeholder="••••••••",
              required=true, type="password") }}

              <label
                class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label absolute right-2 top-2"
                for="toggle"
              >
                <svg
                  class="h-5 w-5 text-gray-600 js-show-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-eye"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                  />
                  <path
                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                  />
                </svg>
                <svg
                  class="h-5 w-5 text-gray-600 js-hide-icon hidden"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-eye-slash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"
                  />
                  <path
                    d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"
                  />
                  <path
                    d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"
                  />
                </svg>
              </label>
              <input
                class="hidden js-password-toggle"
                id="toggle"
                type="checkbox"
              />
            </div>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                {{ form.remember(class_="w-4 h-4 border border-gray-300 rounded
                bg-gray-50 focus:ring-3 focus:ring-teal-600 dark:bg-gray-700
                dark:border-gray-600 dark:focus:ring-teal-600
                dark:ring-offset-gray-800") }}
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500 dark:text-gray-300"
                  >Remember me</label
                >
              </div>
            </div>
            <a
              href="{{ url_for('recovery.forgot_password') }}"
              class="text-sm font-medium text-teal-600 hover:underline dark:text-teal-500"
              >Forgot password?</a
            >
          </div>
          <div class="">{{ xcaptcha }}</div>
          <button
            type="submit"
            name="login_type"
            value="local"
            class="w-full text-white bg-teal-600 hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800 duration-300"
          >
            Sign in
          </button>
          <div class="inline-flex items-center justify-center w-full">
            <hr
              class="w-full h-1 bg-gray-200 border-0 rounded dark:bg-gray-700"
            />
            <div
              class="text-gray-400 absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-300"
            >
              Or
            </div>
          </div>
          <div class="flex gap-2 items-center justify-center mb-2">
            <button
              class="flex items-center bg-white border border-gray-300 rounded-lg shadow-md px-6 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 duration-300"
            >
              <svg
                class="h-6 w-6 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="800px"
                height="800px"
                viewBox="-0.5 0 48 48"
                version="1.1"
              >
                <title>Google-color</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g
                  id="Icons"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="Color-"
                    transform="translate(-401.000000, -860.000000)"
                  >
                    <g
                      id="Google"
                      transform="translate(401.000000, 860.000000)"
                    >
                      <path
                        d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24"
                        id="Fill-1"
                        fill="#FBBC05"
                      ></path>
                      <path
                        d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333"
                        id="Fill-2"
                        fill="#EB4335"
                      ></path>
                      <path
                        d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667"
                        id="Fill-3"
                        fill="#34A853"
                      ></path>
                      <path
                        d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24"
                        id="Fill-4"
                        fill="#4285F4"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
              <span
                ><a href="{{ url_for('auth.login_with_google') }}"
                  >Login with Google</a
                ></span
              >
            </button>
            <button
              class="flex items-center bg-white border border-gray-300 rounded-lg shadow-md max-w-xs px-6 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
            >
              <svg
                class="h-6 w-6 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="bi bi-microsoft"
                viewBox="0 0 16 16"
              >
                <path fill="#F05022" d="M7.462 0H0v7.19h7.462V0z" />
                <path fill="#7FBA00" d="M16 0H8.538v7.19H16V0z" />
                <path fill="#00A4EF" d="M7.462 8.211H0V16h7.462V8.211z" />
                <path fill="#FFB900" d="M16 8.211H8.538V16H16V8.211z" />
              </svg>

              <span
                ><a href="{{ url_for('auth.login_with_azure') }}"
                  >Login with Microsoft</a
                ></span
              >
            </button>
          </div>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet?
            <a
              href="{{ url_for('auth.signup') }}"
              class="font-medium text-teal-600 hover:underline dark:text-teal-500"
              >Sign up</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  const passwordToggle = document.querySelector(".js-password-toggle");
  const showIcon = document.querySelector(".js-show-icon");
  const hideIcon = document.querySelector(".js-hide-icon");

  passwordToggle.addEventListener("change", function () {
    const password = document.querySelector(".js-password");

    if (password.type === "password") {
      password.type = "text";
      showIcon.classList.add("hidden");
      hideIcon.classList.remove("hidden");
    } else {
      password.type = "password";
      showIcon.classList.remove("hidden");
      hideIcon.classList.add("hidden");
    }

    password.focus();
  });
</script>

{% endblock %}
