{% extends "full_layout.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}

<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="py-8 px-4 mx-auto max-w-2xl lg:py-16 items-center justify-center md:h-screen"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border dark:bg-gray-900 dark:border-gray-900"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8 bg">
        <div class="text-center">
          <a
            href="{{ url_for('main.index') }}"
            class="flex mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
          >
            <ion-icon
              class="text-3xl text-teal-700 pr-2"
              name="planet-outline"
            ></ion-icon>
            NEG'CO
          </a>
        </div>
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
          >
            Create an account
          </h1>
          <form method="POST" action="{{ url_for('auth.signup') }}">
            {{ form.csrf_token }}

            <div class="grid grid-cols-2 gap-5">
              {{form.first_name(class="block p-2.5 w-full text-sm text-gray-900
              bg-gray-50 rounded-lg border border-gray-300
              focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700
              dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
              dark:focus:ring-primary-500 dark:focus:border-primary-500",
              placeholder="First Name")}} {{form.last_name(class="block p-2.5
              w-full text-sm text-gray-900 bg-gray-50 rounded-lg border
              border-gray-300 focus:ring-primary-500 focus:border-primary-500
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-primary-500
              dark:focus:border-primary-500", placeholder="Last Name")}}
            </div>

            <div class="grid grid-cols-9 gap-5 mt-6">
              <div class="col-span-5">
                {{form.username(class="block p-2.5 w-full text-sm text-gray-900
                bg-gray-50 rounded-lg border border-gray-300
                focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                dark:focus:ring-primary-500 dark:focus:border-primary-500",
                placeholder="Username")}}
              </div>
              <div class="col-span-4">
                {{form.gender(class="block p-2.5 w-full text-sm text-gray-900
                bg-gray-50 rounded-lg border border-gray-300
                focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                dark:focus:ring-primary-500 dark:focus:border-primary-500",
                placeholder="Gender")}}
              </div>
            </div>

            <div class="mt-6">
              {{form.email(class="bg-gray-50 border border-gray-300
              text-gray-900 text-sm rounded-lg focus:ring-primary-600
              focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700
              dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
              dark:focus:ring-primary-500 dark:focus:border-primary-500",
              placeholder="Email")}}
            </div>
            <div class="mt-6">
              {{form.password(class="block p-2.5 w-full text-sm text-gray-900
              bg-gray-50 rounded-lg border border-gray-300
              focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700
              dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
              dark:focus:ring-primary-500 dark:focus:border-primary-500",
              placeholder="Password")}}
            </div>
            <div class="mt-6">
              {{form.confirm_password(class="block p-2.5 w-full text-sm
              text-gray-900 bg-gray-50 rounded-lg border border-gray-300
              focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700
              dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
              dark:focus:ring-primary-500 dark:focus:border-primary-500",
              placeholder="Confirm Password")}}
            </div>

            <div class="grid grid-cols-3 gap-5 mt-6">
              <div class="col-span-1">
                {{form.age(class="block p-2.5 w-full text-sm text-gray-900
                bg-gray-50 rounded-lg border border-gray-300
                focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                dark:focus:ring-primary-500 dark:focus:border-primary-500",
                placeholder="Age")}}
              </div>
              <div class="col-span-2">
                {{form.phone(class="block p-2.5 w-full text-sm text-gray-900
                bg-gray-50 rounded-lg border border-gray-300
                focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                dark:focus:ring-primary-500 dark:focus:border-primary-500",
                placeholder = "Phone")}}
              </div>
            </div>

            <div class="mt-6">
              <input type="checkbox" class="border border-gray-400" />
              <span>
                I accept the
                <a href="#" class="text-teal-600 font-semibold">Terms of Use</a>
                &
                <a href="#" class="text-teal-600 font-semibold"
                  >Privacy Policy</a
                >
              </span>
            </div>
            <div class="mt-6">
              <button
                type="submit"
                class="w-full bg-teal-600 py-3 text-center text-white"
              >
                Sign up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
