{% extends "layout.html" %} 
{% block content %}
<div class="bg-gray-100 p-6 mt-16">
    <h2 class="text-lg font-bold mb-4">Comments</h2>
    {% for comment in comment_list %}
        <div class="flex flex-col space-y-4">
            <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-lg font-bold">{{ comment.commenter_username }}</h3>
                
                <p class="text-gray-700">{{ comment.content | safe }}</p>
                
            </div>
        </div>
    {% endfor %}
</div>

{% include 'forum/CommentCreation.html' %}
{% endblock content %}
  