<!DOCTYPE html>
<html>
  <head>
    <title>Post</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% block navbar %} {% include 'forum/CommentCreation.html' %} {% endblock %}
    <div class="container mt-8">
      <div class="post">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-content">{{ post.content | safe }}</div>
      </div>

      <div class="comments">
        {% for comment in comment_list %}
        <div class="comment">
          <div class="comment-content">{{ comment.content | safe }}</div>
          <div class="comment-details">
            <span>Posted by {{current_user.username}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
