{% extends "layout.html" %} 
{% block content %}

{% if topic_title == 'Rules and Regulations' %}
  <div class="flex items-center justify-center py-4 md:py-8 flex-wrap mt-16">
    <a
      href="{{ url_for('forum.topic_posts', topic_id=1) }}"
      class="text-white border border-white bg-green-700 hover:bg-green-800 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Rules and Regulations</a
    >
    <a
      href="{{ url_for('forum.topic_posts', topic_id=2) }}"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >General Discussions</a
    >
    <a
      href="{{ url_for('forum.topic_posts', topic_id=3) }}"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Bug Reports</a
    >
    <a
      href="#"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Suggestions & Feedback</a
    >
  </div>
  {% elif topic_title == 'General Discussions' %}
  <div class="flex items-center justify-center py-4 md:py-8 flex-wrap mt-16">
    <a
      href="{{ url_for('forum.topic_posts', topic_id=1) }}"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Rules and Regulations</a
    >
    <a
      href="{{ url_for('forum.topic_posts', topic_id=2) }}"
      class="text-white border border-white bg-green-700 hover:bg-green-800 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >General Discussions</a
    >
    <a
      href="{{ url_for('forum.topic_posts', topic_id=3) }}"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Bug Reports</a
    >
    <a
      href="#"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Suggestions & Feedback</a
    >
  </div>
  {% elif topic_title == 'Bug Reports' %}
  <div class="flex items-center justify-center py-4 md:py-8 flex-wrap mt-16">
    <a
      href="{{ url_for('forum.topic_posts', topic_id=1) }}"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Rules and Regulations</a
    >
    <a
      href="{{ url_for('forum.topic_posts', topic_id=2) }}"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >General Discussions</a
    >
    <a
      href="{{ url_for('forum.topic_posts', topic_id=3) }}"
      class="text-white border border-white bg-green-700 hover:bg-green-800 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Bug Reports</a
    >
    <a
      href="#"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Suggestions & Feedback</a
    >
  </div>
  {% else %}
  <div class="flex items-center justify-center py-4 md:py-8 flex-wrap mt-16">
    <a
      href="{{ url_for('forum.topic_posts', topic_id=1) }}"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Rules and Regulations</a
    >
    <a
      href="{{ url_for('forum.topic_posts', topic_id=2) }}"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >General Discussions</a
    >
    <a
      href="{{ url_for('forum.topic_posts', topic_id=3) }}"
      class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Bug Reports</a
    >
    <a
      href="#"
      class="text-white border border-white bg-green-700 hover:bg-green-800 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
      >Suggestions & Feedback</a
    >
  </div>



{% endif %}
</div>



<div class="grid xl:grid-cols-1 md:grid-cols-1 grid-cols-1 mb-6">

  {% for post in post_list %}
    <div class="mx-auto my-4">
      <p class="text-gray-800">{{ post.poster_username }}</p>
      <div class="w-96 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="{{ url_for('forum.post', id=post.id) }}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ post.title }}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ post.content | safe }}</p>
        <a href="{{ url_for('forum.post', id=post.id) }}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-gray-400 bg-transparent rounded-lg hover:underline">
          {% if post.no_of_comments == None %}
            No comments yet
          {% else %}
            View all <span class="px-1">{{post.no_of_comments}}</span> comments
          {% endif %}
        </a>
      </div>
    </div>
  {% endfor %}
</div>

<!-----Pagination-->
<div
  class="flex items-center justify-center border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
>
{% for page_num in post_list.iter_pages(left_edge=1, right_edge=1,
  left_current = 1, right_current=2) %} {%if page_num%} {% if post_list.page ==
  page_num %}
  <a
    class="px-3 py-2 text-green-600 border border-gray-300 bg-green-50 hover:bg-green-100 hover:text-green-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
    href="{{url_for('forum.topic_posts', topic_id = topic_id,page=page_num)}}"
    >{{page_num}}</a
  >
  {% else %}
  <a
    class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
    href="{{url_for('forum.topic_posts', topic_id = topic_id,page=page_num)}}"
    >{{page_num}}
  </a>
  {% endif %} {% else %} ... {% endif %} {% endfor %}
  <span class="text-gray-700 ml-2 font-semibold">({{post_list.total}})</span>
</div>

{% include 'forum/PostCreation.html' %}

{% endblock content %}
  