<!DOCTYPE html>
<html class="h-full">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Login Recovery</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body class="h-full bg-cover bg-center">
    {% include '../navbar.html' %} {% block content %} {% endblock %} {% include
    '../footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
