{% extends 'full_layout.html' %} {% block title %}Reset Password{% endblock %}
{% block content %}
<h1>Reset Password</h1>
<form method="POST">
  {{ form.csrf_token }}

  <div>
    {{ form.password.label }} {{ form.password(class="form-control",
    required=true) }}
  </div>
  <div>
    {{ form.confirm_password.label }} {{
    form.confirm_password(class="form-control", required=true) }}
  </div>
  {{ form.submit(class="w-full text-white bg-teal-600 hover:bg-teal-700
  focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg
  text-sm px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700
  dark:focus:ring-teal-800") }}
</form>
{% endblock %}
