{% extends 'layout.html' %} {% block content %}
<div class="grid grid-cols-2 bg-gray-50">
  <p class="text-center text-gray-900 my-auto">
    <span class="text-4xl font-semibold">Discover Our Products</span><br />
    “There is no Planet B.” <br />
    “One person can make a difference.”
  </p>
  <img
    class="h-auto max-w-3xl ml-auto"
    src="/static/images/shop-image.jpg"
    alt="image description"
  />
</div>

<div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
  <a
    href="{{url_for('products.allProducts')}}"
    class="text-gray-700 hover:text-white border border-teal-600 bg-white hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800 duration-300"
    >All ({{products.total}})</a
  >
  <a
    href="{{url_for('products.filterProducts', category='On-the-go')}}"
    class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
    >On-the-go</a
  >
  <a
    href="{{url_for('products.filterProducts', category='Kitchen')}}"
    class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
    >Kitchen</a
  >
  <a
    href="{{url_for('products.filterProducts', category='Bathroom')}}"
    class="text-gray-900 border border-white hover:border-gray-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800 duration-300"
    >Bathroom</a
  >
</div>

<div class="lg:grid grid-cols-4 mb-6">
  {% for product in products %}
  <div
    class="w-full max-w-xs bg-white border border-gray-300 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto mt-8 hover:bg-gray-200 duration-500"
  >
    <a href="{{url_for('products.productPage', id=product.id)}}">
      <img
        class="mx-auto p-8 rounded-t-lg h-64"
        src="/static/images/{{product.image}}"
        alt="product image"
      />
    </a>
    <div class="px-5 pb-5">
      <a
        href="{{url_for('products.productPage', id=product.id)}}"
        class="flex items-center justify-between"
      >
        <h5
          class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{product.name}}
        </h5>
      </a>
      <p class="text-sm text-gray-500">{{product.brand}}</p>
      <div class="flex items-center mt-2.5 mb-5">
        <svg
          aria-hidden="true"
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>First star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
          ></path>
        </svg>
        <span
          class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-1"
          >{{product.rating_result()}}/5.0</span
        >
      </div>
      <div class="items-center justify-between">
        {% if product.offered_price %}
        <span class="text-xl text-gray-500 dark:text-white line-through"
          >SGD{{"%.2f"|format(product.price)}}</span
        >
        <span class="text-xl text-gray-500 dark:text-white"
          >SGD {{"%.2f"|format(product.offered_price)}}</span
        >
        {% else %}
        <span class="text-xl text-gray-500 dark:text-white"
          >SGD {{"%.2f"|format(product.price)}}</span
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-----Pagination-->

<div
  class="flex items-center justify-center border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
>
  {% for page_num in products.iter_pages(left_edge=1, right_edge=1,
  left_current=1, right_current=2) %} {% if page_num %} {% if products.page ==
  page_num %}
  <a
    class="px-3 py-2 text-green-600 border border-gray-300 bg-green-50 hover:bg-green-100 hover:text-green-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
    href="{{ url_for('products.allProducts', page=page_num)}}"
    >{{ page_num }}</a
  >
  {% else %}
  <a
    class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
    href="{{ url_for('products.allProducts', page=page_num)}}"
    >{{ page_num }}</a
  >
  {% endif %} {% else %} ... {% endif %} {% endfor %}
</div>

{% endblock %}
