{% extends 'layout.html' %} {% block title %}Manage Product{% endblock %} {%
    block content %}

    
        <div class="text-center p-6">
            <div class="text-2xl">
                <p>Payment Successful<span class="text-green-500 rounded-lg p-2 bg-transparent"><ion-icon name="checkmark-outline"></ion-icon></span></p>
            </div>        
            <p>Check your email for confirmation.</p>
            <div class="mt-8">
                <a
                href="/"
                class="px-6 py-2 border rounded-md dark:border-violet-400 text-white bg-teal-600 hover:bg-teal-700 duration-500"
                >Back to Home</a>
                        
            </div>
        </div>
    
        

    {% endblock %}
    