{% extends 'layout.html' %} {% block title %}Manage Product{% endblock %} {%
block content %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
      Create Product
    </h2>
    <form action="#" method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="w-full">
          <label
            for="brand"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.brand.label}}</label
          >
          {{form.brand(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='brand')}}
        </div>
        <div class="w-full">
          <label
            for="brand"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.name.label}}</label
          >
          {{form.name(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='name')}}
        </div>
        <div class="w-full">
          <label
            for="price"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.image.label}}</label
          >
          {{form.image(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='image')}}
        </div>
        <div class="w-full">
          <label
            for="price"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.category.label}}</label
          >
          {{form.category(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='category')}}
        </div>
        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.description.label}}</label
          >
          {{form.description(class="block p-2.5 w-full text-sm text-gray-900
          bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500
          focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='description')}}
        </div>
        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.price.label}}</label
          >
          {{form.price(class="block p-2.5 w-full text-sm text-gray-900
          bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500
          focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='price')}}
        </div>
        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.offer.label}}</label
          >
          {{form.offer(class="block p-2.5 w-full text-sm text-gray-900
          bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500
          focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='offer')}}
        </div>
      </div>
      {{form.submit(class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6
      text-sm font-medium text-center text-white bg-teal-700 rounded-lg
      focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900
      hover:bg-teal-600 duration-500 cursor-pointer")}}
    </form>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let form = document.querySelector("form");
    
    form.addEventListener("submit", function(e) {
        let isValid = true;
        let errorMsg = "";

        let brand = document.getElementById("brand");
        if (brand.value.length < 2 || brand.value.length > 50 || /[^a-zA-Z0-9\s]/.test(brand.value)) {
            isValid = false;
            errorMsg += "Brand should be 2-50 characters long and contain no special characters.\n";
        }

        let name = document.getElementById("name");
        if (name.value.length < 3 || name.value.length > 50 || /[^a-zA-Z0-9\s]/.test(name.value)) {
            isValid = false;
            errorMsg += "Name should be 3-50 characters long and contain no special characters.\n";
        }

        let description = document.getElementById("description");
        if (description.value.length < 10 || description.value.length > 2000) {
            isValid = false;
            errorMsg += "Description should be 10-2000 characters long.\n";
        }

        let price = document.getElementById("price");
        if (price.value < 0 || price.value > 999) {
            isValid = false;
            errorMsg += "Price should be between 0 and 999.\n";
        }

        let offer = document.getElementById("offer");
        if (offer.value < 0 || offer.value > 100) {
            isValid = false;
            errorMsg += "Offer should be between 0% and 100%.\n";
        }

        let image = document.getElementById("image");
        if (image.value) {
            let allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            if (!allowedExtensions.exec(image.value)) {
                isValid = false;
                errorMsg += "Only .jpg, .jpeg, and .png file types are allowed for the image.\n";
            }
        } else {
            isValid = false;
            errorMsg += "Image is required.\n";
        }

        if (!isValid) {
            e.preventDefault();
            alert(errorMsg);
        }
    });
});
</script>
{% endblock %}
