{% extends 'layout.html' %} {% block content %} {% for message in
get_flashed_messages() %}
<div
  id="alert-1"
  class="flex p-4 mb-4 text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
  role="alert"
>
  <svg
    aria-hidden="true"
    class="flex-shrink-0 w-5 h-5"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
      clip-rule="evenodd"
    ></path>
  </svg>
  <span class="sr-only">Info</span>
  <div class="ml-3 text-sm font-medium">{{message}}</div>
  <button
    type="button"
    class="ml-auto -mx-1.5 -my-1.5 bg-blue-50 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-blue-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-blue-400 dark:hover:bg-gray-700"
    data-dismiss-target="#alert-1"
    aria-label="Close"
  >
    <span class="sr-only">Close</span>
    <svg
      aria-hidden="true"
      class="w-5 h-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
</div>
{% endfor %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
      Update Article
    </h2>
    <form action="/updateProduct/{{product_to_update.id}}" method="POST">
      {{ form.csrf_token }}
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="w-full">
          <label
            for="brand"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.name.label}}</label
          >
          {{form.name(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500",value=product_to_update.name)}}
        </div>
        <div class="w-full">
          <label
            for="price"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.image.label}}</label
          >
          {{form.image(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", value=product_to_update.image)}}
        </div>
        <div class="w-full">
          <label
            for="price"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.category.label}}</label
          >
          {{form.category(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", value=product_to_update.category)}}
        </div>
        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.description.label}}</label
          >
          {{form.description(class="block p-2.5 w-full text-sm text-gray-900
          bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500
          focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", value=product_to_update.description)}}
        </div>
        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.price.label}}</label
          >
          {{form.price(class="block p-2.5 w-full text-sm text-gray-900
          bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500
          focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", value=product_to_update.price)}}
        </div>
        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.offer.label}}</label
          >
          {{form.offer(class="block p-2.5 w-full text-sm text-gray-900
          bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500
          focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", value=product_to_update.offer)}}
        </div>
      </div>
      {{form.submit(class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6
      text-sm font-medium text-center text-white bg-teal-700 rounded-lg
      focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900
      hover:bg-teal-600 duration-500 cursor-pointer")}}
    </form>
  </div>
</section>

{% endblock %}
