<!DOCTYPE html>
<html>
  <head>
    <title>Tracker Web App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Poppins:wght@300&family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
    {% include 'navbar.html' %} {% block content %} {% endblock %} {% include
    'footer.html' %}
  </body>
</html>
