
{% extends 'layout.html' %} {% block title %}Report{% endblock %} {% block
content %}


<html>
<head>
    <title>Tracker Web App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function startTimer(startTime, elementId) {
            let start = new Date(startTime);
            let [startYear, startMonth, startDay, startHours, startMinutes, startSeconds] = [
                start.getFullYear(),
                start.getMonth() + 1,
                start.getDate(),
                start.getHours(),
                start.getMinutes(),
                start.getSeconds()
            ];
            let now = new Date();
            let diff = now - start;
            let hours = Math.floor(diff / 1000 / 60 / 60);
            let minutes = Math.floor(diff / 1000 / 60) % 60;
            let seconds = Math.floor(diff / 1000) % 60;
            let timerElement = document.getElementById(elementId);
            timerElement.innerText = `${hours}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
            setInterval(function() {
                now = new Date();
                diff = now - start;
                hours = Math.floor(diff / 1000 / 60 / 60);
                minutes = Math.floor(diff / 1000 / 60) % 60;
                seconds = Math.floor(diff / 1000) % 60;
                timerElement.innerText = `${hours}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
            }, 1000);
        }

        function toggleform(index, name, item, rate, method){
            var form = document.getElementById('item_form');
            var new_name = document.getElementById('new_name');
            var new_item = document.getElementById('new_item');
            var new_rate = document.getElementById('new_rate');
            var item_index = document.getElementById('item_index');
            var form_action = document.getElementById('form_action');
            var form_label = document.getElementById('form_action_header');

            form_action.value = method
            form_label.innerHTML = method
            new_name.value = name
            new_item.value = item
            new_rate.value = rate
            item_index.value = index
            form.style.display = "flex"
        }

        function closedisplay(item){
            var item = document.getElementById(item)
            item.style.display = 'none'
        }
        function opendisplay(item, type){
            var item = document.getElementById(item)
            item.style.display = type
        }

        function fillAndSubmitForm(formname, name, item, rate, action) {
        document.getElementById('nameField').value = name;
        document.getElementById('itemField').value = item;
        document.getElementById('rateField').value = rate;
        document.getElementById('actionField').value = action;
        document.getElementById('oldnameField').value = name;
        document.getElementById('olditemField').value = item;

        document.getElementById(formname).submit();
        }

        function fillAndShowForm(formname, name, item, rate, action){
            document.getElementById('nameField').value = name;
            document.getElementById('itemField').value = item;
            document.getElementById('rateField').value = rate;
            document.getElementById('actionField').value = action;
            document.getElementById('oldnameField').value = name;
            document.getElementById('olditemField').value = item;

            document.getElementById(formname).style = "display: inherit;";
        }
    </script>
</head>
<body>
    <h1>Tracker Web App</h1>
    <div class="grid grid-cols-2 gap-4">
    {% for key in keylist %}
        <div id="trackercard" class="m-5 bg-emerald-100 rounded-lg">
            <div class="m-3 flex justify-between">
                <div>
                    <div class="text-xl"><h2 id="key">{{ key.name }}</h2></div>
                    <div class="ml-3 text-xs">{{ key.item }}</div>
                </div>
                <div>
                    <button onclick="fillAndShowForm('trackerForm','{{ key.name }}', ' {{ key.item }} ', ' {{key.rate}} ', 'edit' )">Edit</button> <!-- to be created -->
                    <button onclick="fillAndSubmitForm('trackerForm','{{ key.name }}', ' {{ key.item }} ', ' {{key.rate}} ', 'delete')">Delete</button> <!-- to be created -->
                </div>
            </div>
            <span id="timer-{{ key.name }}" class="ml-5">00:00:00</span>
            <script>
            if ("{{ key.session_start }}" !== "None") {
                startTimer("{{ key.session_start }}", "timer-{{ key.name }}");
            }
            </script>
            <button onclick="fillAndSubmitForm('trackerForm','{{ key.name }}', ' {{ key.item }} ', ' {{key.rate}} ', 'start')"> Start </button>
        </div>
    {% endfor %}
    </div>
    <div id="edit actions" onclick="fillAndShowForm('trackerForm',' ', ' ', ' ', 'create' )">
        <button> Create New Tracker </button>
    </div>
    <div id="redirect to report">
        <button> Report </button>
    </div>
    <form method="POST" id="trackerForm" style="display: none;">
        {{ form.csrf }}
        <div>{{ form.name.label }} {{ form.name(id='nameField', value='None') }}</div>
        <div> {{ form.item.label }} {{ form.item(id='itemField', value='None') }}</div>
        <div>{{ form.rate.label }} {{ form.rate(id='rateField', value='None') }}</div>
        <div>{{ form.action(id='actionField', value='None', style='display: none;') }}</div>
        <div>{{ form.old_name(id='oldnameField', value='None', style='display: none;') }}</div>
        <div>{{ form.old_item(id='olditemField', value='None', style='display: none;') }}</div>
        <div><button type="submit">Submit</button></div>
    </form>
{% endblock %}
