{% extends 'layout.html' %} {% block title %}Settings {% endblock %} {% block
content %}
<div class="py-8 mx-auto max-w-4xl lg:py-16">
  <h1 class="text-3xl font-bold mt-4">Settings</h1>
  <br />
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <p class="text-red-500">{{ message }}</p>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %} {% if form.errors %}
  <ul class="text-red-400">
    {% for field, errors in form.errors.items() %} {% for error in errors %}
    <li>{{ field }}: {{ error }}</li>
    {% endfor %} {% endfor %}
  </ul>
  {% endif %}
  <form
    method="POST"
    action="{{ url_for('management.admin_settings', user_id=user.id) }}"
    enctype="multipart/form-data"
  >
    {{ form.csrf_token }}

    <div>
      <label
        for="profile_picture"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Profile Picture</label
      >
      {{ form.profile_picture(id="profile_picture", class_="bg-gray-50 border
      border-teal-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500
      focus:border-teal-500 block w-full p-2.5 dark:bg-gray-800
      dark:border-teal-400 dark:placeholder-gray-400 dark:text-white
      dark:focus:ring-teal-500 dark:focus:border-teal-500") }}
    </div>

    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >First name</label
      >
      {{ form.first_name(class_="bg-gray-50 border border-teal-300 text-gray-900
      text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full
      p-2.5 dark:bg-gray-800 dark:border-teal-400 dark:placeholder-gray-400
      dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500",
      value=user.first_name) }}
    </div>
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Last name</label
      >
      {{ form.last_name(class_="bg-gray-50 border border-teal-300 text-gray-900
      text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full
      p-2.5 dark:bg-gray-800 dark:border-teal-400 dark:placeholder-gray-400
      dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500",
      value=user.last_name) }}
    </div>
    <div>
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Phone number</label
      >
      {{ form.phone(class_="bg-gray-50 border border-teal-300 text-gray-900
      text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full
      p-2.5 dark:bg-gray-800 dark:border-teal-400 dark:placeholder-gray-400
      dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500",
      value=user.phone) }}
    </div>
    <div>
      <label
        for="gender"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Gender</label
      >
      {{ form.gender(class_="bg-gray-50 border border-teal-300 text-gray-900
      text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full
      p-2.5 dark:bg-gray-800 dark:border-teal-400 dark:placeholder-gray-400
      dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500",
      value=user.gender) }}
    </div>

    <div>
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your Email</label
      >
      <div class="relative">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
            ></path>
            <path
              d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
            ></path>
          </svg>
        </div>
        {{ form.email(class_="bg-gray-50 border border-teal-300 text-gray-900
        text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block
        w-full pl-10 p-2.5 dark:bg-gray-800 dark:border-teal-400
        dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500
        dark:focus:border-teal-500", value=user.email) }}
      </div>
    </div>

    <div>
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Password</label
      >
      {{ form.password(class_="bg-gray-50 border border-teal-300 text-gray-900
      text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full
      p-2.5 dark:bg-gray-800 dark:border-teal-400 dark:placeholder-gray-400
      dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500",
      placeholder="•••••••••") }}
    </div>

    <div>
      <label
        for="confirm_password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Confirm password</label
      >
      {{ form.confirm_password(class_="bg-gray-50 border border-teal-300
      text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500
      block w-full p-2.5 dark:bg-gray-800 dark:border-teal-400
      dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500
      dark:focus:border-teal-500", placeholder="•••••••••") }}
    </div>

    <div>
      <div class="mb-2"></div>
      <button
        type="submit"
        class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800"
      >
        Submit
      </button>
    </div>
  </form>

  <h2>Sessions:</h2>
  {% if sessions %}
  <ul>
    {% for session in sessions %}
    <li>{{ session.user_agent }}</li>
    <li>{{ session.ip_address }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No sessions found.</p>
  {% endif %} {% with messages = get_flashed_messages() %} {% for message in
  messages %} {% if message.category == "success" %}
  <div class="bg-green-200 text-green-800 p-4 mt-4">{{ message }}</div>
  {% elif message.category == "error" %}
  <div class="bg-red-200 text-red-800 p-4 mt-4">{{ message }}</div>
  {% endif %} {% endfor %} {% endwith %}
</div>
{% endblock %}
