{% extends 'layout.html' %} {% block title %}Settings {% endblock %} {% block
content %}
<div class="py-8 mx-auto max-w-4xl lg:py-16">
  <h1 class="text-3xl font-bold mt-4">Users List</h1>
  <br />

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div
      class="flex items-center justify-between pb-4 bg-white dark:bg-gray-900"
    >
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          id="table-search-users"
          class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search for users"
        />
      </div>
    </div>
    <form method="POST" action="{{ url_for('management.locked_accounts') }}">
      {{ form.csrf_token }}
      <table
        id="users-table"
        class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="p-4">
              <div class="flex items-center">
                <input
                  id="checkbox-all"
                  type="checkbox"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label for="checkbox-all" class="sr-only">checkbox</label>
              </div>
            </th>
            <th scope="col" class="px-6 py-3">Username</th>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">Role</th>
            <th scope="col" class="px-6 py-3">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for account in locked_accounts %}
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="w-4 p-4">
              <div class="flex items-center">
                {{ form.unlock_account(id="checkbox-table-" + loop.index|string, value=account.id) }}
                <label for="checkbox-table-{{ loop.index }}" class="sr-only">checkbox</label>
              </div>
            </td>
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ account.username }}
            </th>
            <td class="px-6 py-4">
              {{ account.first_name }} {{account.last_name }}
            </td>
            <td class="px-6 py-4">{{ account.role }}</td>
            <td class="px-6 py-4">{{ account.email }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
  </div>
  <div class="mt-6 text-center">
    <button
      type="submit"
      class="text-white bg-teal-600 hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800"
    >
      Unlock Selected Accounts
    </button>
  </div>
</form>
</div>

<script>
  const searchInput = document.getElementById("table-search-users");
  const table = document.getElementById("users-table");
  const checkboxes = table.querySelectorAll('input[type="checkbox"]');
  const checkboxAll = document.getElementById("checkbox-all");

  searchInput.addEventListener("input", function (e) {
    const searchString = e.target.value.toLowerCase();
    const rows = table
      .getElementsByTagName("tbody")[0]
      .getElementsByTagName("tr");

    for (let row of rows) {
      const username = row
        .getElementsByTagName("th")[0]
        .innerText.toLowerCase();
      const name = row.getElementsByTagName("td")[0].innerText.toLowerCase();
      const role = row.getElementsByTagName("td")[1].innerText.toLowerCase();
      const email = row.getElementsByTagName("td")[2].innerText.toLowerCase();

      if (
        username.includes(searchString) ||
        name.includes(searchString) ||
        role.includes(searchString) ||
        email.includes(searchString)
      ) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
    }
  });

  checkboxAll.addEventListener("change", function (e) {
    const isChecked = e.target.checked;

    for (let checkbox of checkboxes) {
      checkbox.checked = isChecked;
    }
  });
</script>

{% endblock %}
