{% extends 'layout.html' %} {% block title %}Settings {% endblock %} {% block
content %}

<body class="p-4">
  <div class="relative flex items-center">
    <input
      type="text"
      class="py-2 pl-8 pr-3 text w-full"
      value="david@stylus.co.za"
      disabled
    />
    <button
      class="bg-neutral-300 hover:bg-neutral-400 rounded px-2 py-1 text-sm text-white font-mono cursor-pointer js-password-label absolute right-2 top-2"
    >
      <svg
        class="w-5 h-5 inline-block align-middle"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <polygon
          fill="var(--ci-primary-color, currentColor)"
          points="408 432 376 432 376 464 112 464 112 136 144 136 144 104 80 104 80 496 408 496 408 432"
          class="ci-primary"
        />
        <path
          fill="var(--ci-primary-color, currentColor)"
          d="M176,16V400H496V153.373L358.627,16ZM464,368H208V48H312V200H464Zm0-200H344V48h1.372L464,166.627Z"
          class="ci-primary"
        />
      </svg>
    </button>
  </div>
</body>
{% endblock %}
