{% extends "layout.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    <div class="bg-blue-950 p-4">
        <h1 class="mb-4 text-4xl font-bold leading-none tracking-tight text-white md:text-5xl lg:text-6xl dark:text-white text-center">Read</h1>
        <p class="text-sm  text-white lg:text-xl dark:text-gray-400 text-center">Learn more about Sustainability.</p>
    </div>
    <div class="lg:grid grid-cols-2 ">
        {% for article in articles %}
                <div class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto mt-4">
                    <a href="#">
                        <img class="rounded-t-lg" src="/static/images/{{article.image}}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{article.title}}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{article.description}}</p>
                        <a href="{{url_for('articlePage', id=article.id)}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-700 rounded-lg hover:bg-teal-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 duration-500">
                            Read more
                            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class="bg-blue-950 p-4">
        <h1 class="mb-4 text-4xl font-bold leading-none tracking-tight text-white md:text-5xl lg:text-6xl dark:text-white text-center">Shop Products</h1>
        <p class="text-sm  text-white lg:text-xl dark:text-gray-400 text-center">Environmental friendly material.</p>
    </div>
{% endblock content %}