<!DOCTYPE html>
<html>
<head>
    <title>TNegco Web App</title>
    <script>
        function closedisplay(item){
            var item = document.getElementById(item)
            item.style.display = 'none'
        }

        function opendisplay(item, type){
            var item = document.getElementById(item)
            item.style.display = type
        }
    </script>
</head>
<body>
    <h1>Negco Web App</h1>
    <form action="/track" method="POST">
        <label for="user">User:</label>
        <input type="text" id="user_id" name="user_id" required>
        <br>
        <label id="target_label" for="target" style="display: none;">Monthly Energy Target: </label>
        <input type="text" id="target" name="target" value="890" style="display: none;">
        <br>
        <button type="submit">Add</button>
    </form>
    <button id="set_target" onclick="opendisplay('target', 'inherit'), opendisplay('target_label', 'inherit'), closedisplay('set_target')">Set Targets</button>
</body>
</html>