<!DOCTYPE html>
<html>
<head>
    <title>TNegco Web App</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Negco Web App</h1>
    {% for date in list %}
    <h2>{{ date }}</h2>
      <span for="duration-{{ loop.index }}"> Total Duration: {{ total['duration'] }}</span>
      <br>
      <span for="duration-{{ loop.index }}"> Total Usage: {{ total['usage'] }}</span>
      <br>
      <h1>Break Down</h1>
      <br>
      {% for item in list[date] %}
      <h3>----------------------------------------------------------------------</h3>
      <br>
        <h2>{{ item }}</h2>
        <div>
          <span for="duration-{{ loop.index }}"> Total Duration: {{ list[date][item]['duration'] }}</span>
          <br>
          <span for="duration-{{ loop.index }}"> Total Usage: {{ list[date][item]['usage'] }}</span>
        </div>
        <br>
      {% endfor %}  
      <h3>----------------------------------------------------------------------</h3>
    {% endfor %}
    <div id='return'>
      <form name="tracker" action="/track" method="POST">
        <button type="submit">Tracker</button>
      </form>
    </div>
    <div id="x-axis" style="display: none;">{{ x }}</div>
    <div id="y-axis" style="display: none;">{{ y }}</div>
    <canvas id="myChart"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var dates = JSON.parse(document.getElementById('y-axis').innerHTML);
        var dataset = JSON.parse(document.getElementById('x-axis').innerHTML);
        var data = {
          labels: dataset,
          datasets: [{
            label: 'Example Dataset',
            data: dates,
            borderColor: 'black',
            fill: false
          }]
        };
      
        var myChart = new Chart(ctx, {
          type: 'line',
          data: data,
          options: {}
        });
      </script>
</body>
</html>