<!DOCTYPE html>
<html>
<head>
    <title>Tracker Web App</title>
    <script>
        function startTimer(startTime, elementId) {
            if (startTime !== 'None') {
                var startDate = new Date(startTime);
                var element = document.getElementById(elementId);
                document.getElementById('start_tracker').innerHTML = 'Stop'
                var interval = setInterval(function() {
                    var currentDate = new Date();
                    var elapsedTime = currentDate - startDate; 
                    
                    var hours = Math.floor(elapsedTime / (1000 * 60 * 60));
                    var minutes = Math.floor((elapsedTime % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((elapsedTime % (1000 * 60)) / 1000);
                    
                    var elapsedTimeString = hours + 'h ' + minutes + 'm ' + seconds + 's';

                    element.innerHTML = elapsedTimeString;
                }, 1000);
            }
        }

        function toggleform(index, name, item, rate, method){
            var form = document.getElementById('item_form');
            var new_name = document.getElementById('new_name');
            var new_item = document.getElementById('new_item');
            var new_rate = document.getElementById('new_rate');
            var item_index = document.getElementById('item_index');
            var form_action = document.getElementById('form_action');
            var form_label = document.getElementById('form_action_header');

            form_action.value = method
            form_label.innerHTML = method
            new_name.value = name
            new_item.value = item
            new_rate.value = rate
            item_index.value = index
            form.style.display = "flex"
        }

        function closedisplay(item){
            var item = document.getElementById(item)
            item.style.display = 'none'
        }

        function opendisplay(item, type){
            var item = document.getElementById(item)
            item.style.display = type
        }
    </script>
</head>
<body>
    <h1>Tracker Web App</h1>
    {% for key in keylist %}
    ----------------------------------------------------------------------
    <div id="'trackercard">
        <h2 id="key">{{ key.name }}</h2>
        <div>
            {{ key.item }} 
            <button onclick=" toggleform('{{ key.name }}', '{{ key.name }}', '{{ key.item }}', '{{ key.rate }}', 'update' )"> Edit </button>
        </div>
        <form name="tracker" action="/track" method="POST">
            <input type="text" id="name" name="name" value="{{ key.name }}" style="display: none;">
            <span id="timer-{{ key.name }}"> 0h 0m 0s</span>
            <br>
            <label for="rate">Rate: {{ key.rate }} Watts/Hour</label>
            <input type="text" id="item" name="item" value="{{ key.item }}" style="display: none;">
            <input type="text" id="rate" name="rate" value="{{ key.rate }}" style="display: none;">
            <input type="text" id="key" name="key" value="{{ key.session_id }}" style="display: none;">
            <br>
            <button id="start_tracker" name="start_tracker" type="submit">Start</button>
            <form action="/track" name="delete" id="delete" method="POST">
                <input type="text" id="index" name="index" style="display: none;" value="{{ key.name }}">
                <button name="delete" id="delete"> Delete </button>
            </form>
        </form>
        <script>
            var startTime = "{{ key.session_start }}";
            var elementId = "timer-{{ key.name }}";
            startTimer(startTime, elementId);
        </script>
    </div>
    <br>
    {% endfor %}
    ----------------------------------------------------------------------
    <br><br>
    <button onclick="opendisplay('item_form', 'flex')"> Create New Item </button>
    <form name="report" action="/report" method="POST">
        <button type="submit">Report</button>
    </form>
    <form id="item_form" name="item_form" action="/track" method="POST" style="display: none;">
        <h2 id="form_action_header"> Create Item </h2>
        <br>
        <input type="text" id="form_action" name="form_action" value="create" style="display: none;">
        <label for="new_name">Name: </label>
        <input type="text" id="new_name" name="new_name">
        <label for="new_name">Item: </label>
        <input type="text" id="new_item" name="new_item">
        <label for="new_name">Rate: </label>
        <input type="text" id="new_rate" name="new_rate">
        <input type="text" id="item_index" name="item_index" style="display: none;" value="-1">
        <button name="item_form" type="submit">Save Changes</button>
        <button name="close_form" onclick="closedisplay('item_form')">Close</button>
    </form>
</body>
</html>