{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block
content %}
<div class="grid grid-cols-2 bg-gray-50">
  <p class="text-center my-auto text-gray-900">
    <span class="text-4xl font-semibold">Sustainability News</span><br />
    Get updated on what is happening with our environment.<br />
  </p>
  <img
    class="h-auto max-w-3xl ml-auto"
    src="/static/images/article-page-image.jpg"
    alt="image description"
  />
</div>
<div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 mb-6">
  {% for article in articles %}
  <div
    class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto mt-4"
  >
    <a href="{{url_for('articles.articlePage', id=article.id)}}">
      <img class="rounded-t-lg" src="/static/images/{{article.image}}" alt="" />
    </a>
    <div class="p-5">
      <p class="text-sm text-gray-500">{{article.time_ago()}}</p>
      <a href="{{url_for('articles.articlePage', id=article.id)}}">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{article.title}}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{article.description}}
      </p>
      <a
        href="{{url_for('articles.articlePage', id=article.id)}}"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-600 rounded-lg hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 duration-500"
      >
        Read more
        <svg
          aria-hidden="true"
          class="w-4 h-4 ml-2 -mr-1"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

<!-----Pagination-->
<div
  class="flex items-center justify-center border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
>
  {% for page_num in articles.iter_pages(left_edge=1, right_edge=1,
  left_current=1, right_current=2) %} {% if page_num %} {% if articles.page ==
  page_num %}
  <a
    class="px-3 py-2 text-green-600 border border-gray-300 bg-green-50 hover:bg-green-100 hover:text-green-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
    href="{{ url_for('articles.allArticles', page=page_num)}}"
    >{{ page_num }}</a
  >
  {% else %}
  <a
    class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
    href="{{ url_for('articles.allArticles', page=page_num)}}"
    >{{ page_num }}</a
  >
  {% endif %} {% else %} ... {% endif %} {% endfor %}
  <span class="text-gray-700 ml-2 font-semibold">({{articles.total}})</span>
</div>

{% endblock content %}
