{% extends 'layout.html' %} {% block content %}
<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
  <h1 class="mb-6 text-3xl font-bold mx-16 text-center text-zinc-800">{{article_to_view.title}}</h1>
  <!-- Section: Design Block -->
  <section class="mb-32 mx-10">
    <img
      src="/static/images/{{article_to_view.image}}"
      class="mb-6 w-auto rounded-lg shadow-lg dark:shadow-black/20 mx-auto"
      alt="image"
    />

    <div class="mb-6 flex items-center">
      <div class="mx-auto">
        <span>
          Published on
          <u class="no-underline">{{article_to_view.date_added.date()}}</u> by
        </span>
        <a href="#!" class="font-semibold">{{article_to_view.writer}}</a>
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-2 dark:bg-gray-700" />
    <div class="flex flex-col space-y-8">
      <p class="text-left p-4 rounded-lg text-zinc-800 lg:mx-60">
        {{article_to_view.paragraph}}
      </p>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<hr class="h-px my-8 bg-gray-200 border-2 dark:bg-gray-700" />

<h2 class="text-3xl font-semibold text-center text-zinc-800">Related Articles</h2>
<div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 mb-6">
  {% for article in more_article %}
  <div
    class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto mt-4"
  >
    <a href="{{url_for('articles.articlePage', id=article.id)}}">
      <img class="rounded-t-lg" src="/static/images/{{article.image}}" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{article.title}}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{article.description}}
      </p>
      <a
        href="{{url_for('articles.articlePage', id=article.id)}}"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-600 rounded-lg hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 duration-500"
      >
        Read more
        <svg
          aria-hidden="true"
          class="w-4 h-4 ml-2 -mr-1"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
