{% extends 'layout.html' %} {% block title %}Manage Article{% endblock %} {%
block content %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
      Publish Article
    </h2>
    <form action="#" method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="w-full">
          <label
            for="brand"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.title.label}}</label
          >
          {{form.title(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='title')}}
        </div>
        <div class="w-full">
          <label
            for="price"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.writer.label}}</label
          >
          {{form.writer(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='writer')}}
        </div>
        <div class="w-full">
          <label
            for="price"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.image.label}}</label
          >
          {{form.image(class="bg-gray-50 border border-gray-300 text-gray-900
          text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
          block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='image')}}
        </div>
        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.description.label}}</label
          >
          {{form.description(class="block p-2.5 w-full text-sm text-gray-900
          bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500
          focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='description')}}
        </div>
        <div class="sm:col-span-2">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{form.paragraph.label}}</label
          >
          {{form.paragraph(class="block p-2.5 w-full text-sm text-gray-900
          bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500
          focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500", id='paragraph')}}
        </div>
      </div>
      {{form.submit(class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6
      text-sm font-medium text-center text-white bg-teal-600 rounded-lg
      focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900
      hover:bg-teal-700 duration-500 cursor-pointer")}}
    </form>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("form").addEventListener("submit", function(event) {
        const title = document.getElementById("title").value;
        const description = document.getElementById("description").value;
        const writer = document.getElementById("writer").value;
        const image = document.getElementById("image").files[0];
        const paragraph = document.getElementById("paragraph").value;

        const blackList = ["'", '"', ";", "--", "/*", "*/", "="];
        let errorMessages = [];

        function containsBlacklisted(str) {
            return blackList.some((char) => str.includes(char));
        }

        if (containsBlacklisted(title) || !title || title.length < 3 || title.length > 100) {
            errorMessages.push("Title is required and should be between 3 to 100 characters without special characters.");
        }

        if (containsBlacklisted(description) || !description || description.length < 3 || description.length > 300) {
            errorMessages.push("Description is required and should be between 3 to 300 characters without special characters.");
        }

        if (containsBlacklisted(writer) || !writer || writer.length < 3 || writer.length > 50) {
            errorMessages.push("Writer's name is required and should be between 3 to 50 characters without special characters.");
        }

        if (image) {
            const allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            if (!allowedExtensions.exec(image.name)) {
                errorMessages.push("Invalid image type. Only JPG, JPEG, and PNG images are allowed.");
            }
        } else {
            errorMessages.push("An image is required.");
        }

        if (containsBlacklisted(paragraph) || !paragraph || paragraph.length < 100 || paragraph.length > 1000000) {
            errorMessages.push("Paragraph is required and should be between 100 to 1,000,000 characters without special characters.");
        }

        if (errorMessages.length) {
            event.preventDefault();
            alert(errorMessages.join("\n"));
        }
    });
});
</script>
{% endblock %}
