<!DOCTYPE html>
<html class="h-full">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Poppins:wght@300&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
    <style>
      html,
      body {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body class="bg-cover bg-center h-full">
    {% block content %} {% endblock %}
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
